.canvas {
    /* background-color: #ddfff7; */
    background-color: #a8c4b8;
    height: 100vh;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #3e6b58 !important;
}

.container-height {
    height: 90vh;
}

.slides {
    margin-top: 2.5vh;
}

.jobs {
    height: 100%;
    margin-top: 2.5vh; 
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.job-header {
    display: flex;
    justify-content: space-around;
}

.job-details {
    display: flex;
    justify-content: space-between;
}